<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Fleet Assignment Viewer</title>
	<style type="text/css">

	div {
		margin: 0; 
		padding: 0;
	}
	.flight { 
		background-color: #35498b;
		opacity: 0.5;
		color: white;
		text-align: center;
		float: left; 
		height: 11px; 
		margin-top: 2px; 
		margin-bottom: 1px; 
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
	.medium_haul {
		background-color: #8b3535;
	}
	.date {
		float: left; width: 40px; text-align: left;
		margin-bottom: 4px;
	}
	td.schedule {
		background: url('schedule_bg.png') repeat-x top left; 
		border-left: 1px solid gray;
		border-right: 1px solid gray;
		height: 14px;
	}
	body, .schedule td {
		font-size:9px;
		font-family: "Century Gothic";
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.schedule th {
		font-size:10px;
		height: 14px;
	}
	table {
		border-collapse: collapse; 
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		margin-bottom: 4px;
	}
	#left_table {
		border-left: 1px solid black;
	}

	.right_table {
		font-size: 10px;
		border: 1px solid black;
		font-size: 11px;
		width: 210px;
	}
	td.hr {
		border-bottom: 1px solid black;
		height: 0px;
		margin-bottom: 2px;
		margin-top: 0px;
	}

	#main1 {
		margin:0; padding:0;
	}
	#main2 {
		margin:0; padding:0;
	}
	#left {
		float:left;
		width:40px;
		margin:0; padding-top:16px;
	}
	#right {
		float:right;
		width:210px;
		margin:0; padding-top:15px;
		padding-left: 5px;
	}
	#middle {
		margin:0 40px;
	}
	#overflow {
		overflow-x: scroll;
	}
	.column-in {
		margin:0; padding:1px;
	}
	.cleaner {
		clear:both;
		height:1px;
		font-size:1px;
		border:none;
		margin:0; padding:0;
		background:transparent;
	}
	.green {
		color: green;
	}
	.red {
		color: red;
	}

	</style>
	</head>
	<body>
	<div id="main1">
		<div id="main2">
			<div id="left">

				<% @assignment.fleets.each do |ba_code,fleet| %>
				<table class="schedule" id="left_table" border="0" cellspacing="0" cellpadding="0" width="40px">
					<% count = 0%>
					<% fleet.schedules.each do |schedule| %>
					<tr>
						<th><%= (count+=1) == 1 ? ba_code : count %></th>
					</tr>
					<% end %>
				</table>
				<% end %>

			</div>
			<div id="right">
				<div class="column-in">

					<table border="0" cellspacing="0" cellpadding="3" class="right_table">
						<tr><th colspan="3">Resultaten</th></tr>
						<tr><td colspan="3" class="hr"></td></tr>
						<tr>
							<td>Spill kosten</td>
							<%= result_with_diff(@results,@original_results,:spill_cost) %>
						</tr>
						<tr>
							<td>Vaste kosten</td>
							<%= result_with_diff(@results,@original_results,:fixed_cost) %>
						</tr>
						<tr>
							<td>Var kosten</td>
							<%= result_with_diff(@results,@original_results,:var_cost) %>
						</tr>
						<tr>
							<td>Totale kosten</td>
							<%= result_with_diff(@results,@original_results,:total_cost) %>
						</tr>
						<tr><td colspan="3" class="hr"></td></tr>
						<tr>
							<td>Short Spill</td>
							<%= result_with_absolute_diff(@results[:spill]["Short"],@original_results[:spill]["Short"]) %>
						</tr>
						<tr>
							<td>Medium Spill</td>
							<%= result_with_absolute_diff(@results[:spill]["Medium"],@original_results[:spill]["Medium"]) %>
						</tr>
						<tr><td colspan="3" class="hr"></td></tr>
						<% AssignmentParameters.all.each do |key,value| %> 
						<% var_name = key.to_s.gsub('@@')%>
						<tr>
							<td><%= key.gsub('external','xtnl') %></td>
							<td align="right" colspan="2"><%= value %></td>
						</tr>
						<% end %>   
					</table>

					<p>&nbsp;</p>

					<div align="center">
						<form action="/" method="get" accept-charset="utf-8">
							<select name="yaml_file" id="yaml_file" onchange="">
								<% @configs.each do |config| %>
									<option value="<%= config %>"><%= config %></option>
								<% end %>
							</select><br>
						<input type="submit" value="Load">
						</form>
					</div>
					
					<p>&nbsp;</p>
					
					<table border="0" cellspacing="0" cellpadding="3" class="right_table">
						<tr><th colspan="2">Vlucht informatie</th></tr>
						<tr><td colspan="2" class="hr"></td></tr>
						<tr>
							<td>Vlucht id</td>
							<td><%= @flight.id %></td>
						</tr>
						<tr>
							<td>Original fleet</td>
							<td><%= @flight.original_aircraft.ba_code %></td>
						</tr>
						<tr>
							<td>Assigned fleet</td>
							<td><%= @flight.assigned_aircraft.ba_code if @flight.assigned_aircraft %></td>
						</tr>
						<tr>
							<td>Haul</td>
							<td><%= @flight.haul %></td>
						</tr>
						<tr><td colspan="2" class="hr"></td></tr>
						<tr>
							<td>flight nr 1</td>
							<td><%= @flight.flight_nr_1 %></td>
						</tr>
						<tr>
							<td>D(0) leg 1</td>
							<td><%= @flight.pax_1 %></td>
						</tr>
						<tr>
							<td>D(28) leg 1</td>
							<td><%= @flight.pax_1_28d %></td>
						</tr>
						<tr><td colspan="2" class="hr"></td></tr>
						<tr>
							<td>flight nr 2</td>
							<td><%= @flight.flight_nr_2 %></td>
						</tr>
						<tr>
							<td>D(0) leg 2</td>
							<td><%= @flight.pax_2 %></td>
						</tr>
						<tr>
							<td>D(28) leg 2</td>
							<td><%= @flight.pax_2_28d %></td>
						</tr> 
					</table>										

					</div>
				</div>
				<div id="middle">
					<div class="column-in">
						<div id="overflow">

							<div style='width: <%= @pixels_needed %>px; height: 15px'>&nbsp;
								<div class="date" style="margin-left: 0px;"><%= "#{@first_day.day}/#{@first_day.month}" %></div>
								<% (@first_day+1.day).upto(@last_day) do |date|%>
								<div class="date" style="margin-left: 248px;"><%= "#{date.day}/#{date.month}" %></div>
								<% end %>
							</div>

							<% @assignment.fleets.each do |ba_code,fleet| %>
							<table class="schedule" border="0" cellspacing="0" cellpadding="0" width="<%= @pixels_needed %>">
								<% count = 0%>
								<% fleet.schedules.each do |schedule| %>
								<tr>
									<td class="schedule"><%= schedule.to_divs(@first_day) %>&nbsp;</td>
								</tr>
								<% end %>
							</table>
							<% end %>

						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>