<style type="text/css">

div {
  margin: 0; 
  padding: 0;
}
.flight { 
  background-color: #35498b;
  opacity: 0.5;
  color: white;
  text-align: center;
  float: left; 
  height: 11px; 
  margin-top: 2px; 
  margin-bottom: 1px; 
  -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.medium_haul {
  background-color: #8b3535;
}
.date {
  float: left; width: 60px; text-align: center;
  margin-bottom: 4px;
}
td.schedule {
  background: url('schedule_bg.png') repeat-x top left; 
  border-right: 1px solid black; 
  border-left: 1px solid black;
}
body, .schedule td {
  font-size:9px;
  font-family: "Century Gothic";
  margin-top: 0px;
  margin-bottom: 0px;
}
.schedule th {
  font-size:10px;
}
table {
  clear: left;
  border-collapse: collapse; 
  border: 1px solid black;
  margin-bottom: 4px;
}
#winstoverzicht {
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 12px;
}
td.hr {
  border-bottom: 1px solid black;
  height: 5px;
  margin-bottom: 5px;
}
</style>
<div style='width: 2130px'>&nbsp;
  <div class="date" style="margin-left: 22px;">14/09</div>
  <% (15..21).to_a.each do |day|%>
    <div class="date" style="margin-left: 228px;"><%= day %>/09</div>
  <% end %>
</div>

<div id="winstoverzicht">
  <table border="0" cellspacing="0" cellpadding="3">
    <tr><th colspan="2"><%= Time.now %></th></tr>
    <tr><td colspan="2" class="hr"></td></tr>
    <tr>
      <td>Omzet</td>
      <td align="right"><%= d_format @results[:omzet] %></td>
    </tr>
    <tr>
      <td>Vaste kosten</td>
      <td align="right"><%= d_format @results[:fixed_cost] %></td>
    </tr>
    <tr>
      <td>Var kosten</td>
      <td align="right"><%= d_format @results[:var_cost] %></td>
    </tr>
    <tr>
      <td>Winst</td>
      <td align="right"><%= d_format @results[:winst] %></td>
    </tr>
    <tr><td colspan="2" class="hr"></td></tr>
    <tr>
      <td>Short Spill</td>
      <td align="right"><%= d_format @results[:spill]["Short"] %></td>
    </tr>
    <tr>
      <td>Medium Spill</td>
      <td align="right"><%= d_format @results[:spill]["Medium"] %></td>
    </tr>
    <tr><td colspan="2" class="hr"></td></tr>
    <% @results[:params].each do |key, value| %> 
      <tr>
        <td><%= key %></td>
        <td align="right"><%= value %></td>
      </tr>
    <% end %>   
  </table>
</div>

<% @assignment.fleets.each do |ba_code,fleet| %>
  <table class="schedule" border="0" cellspacing="0" cellpadding="0" width="2130">
    <% count = 0%>
    <% fleet.schedules.each do |schedule| %>
      <tr>
        <th width="50px"><%= (count+=1) == 1 ? ba_code : count %></th>
        <td class="schedule"><%= schedule.to_divs(Time.mktime(2008,9,14)) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<div style='width: 2130px'>&nbsp;
  <div class="date" style="margin-left: 22px;">14/09</div>
  <% (15..21).to_a.each do |day|%>
    <div class="date" style="margin-left: 228px;"><%= day %>/09</div>
  <% end %>
</div>